.wrapper {

}

h1 {

}

h2 {

}

h3 {

}

form {

}

label {

}

.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

/**
input {

}
*/

.btn {
  background-color: #1BB3F5;
  padding: 14px 24px;
  border: 0 none;
  color: white;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:hover {
  transition: 1s;
}

button {

}
